/* -------------------------------------------------- */
// Colors
/* -------------------------------------------------- */

$color-pink: #b6e455;
$color-purple: #6d3490;

/*$color-superlightblue: #00afec;*/
$color-superlightblue: #52AEB1;

/*$color-lightblue: #0181c3;*/
$color-lightblue: #18345B;

/*$color-darkblue: #08468e;*/
$color-darkblue: #6FA286;

$color-lightgrey: #f0f0f0;


/*$color-softerdarkblue: #0054a2;*/
$color-softerdarkblue: #2C3C55;

$color-lightbluetwo: #014490;

$color-form-blue: #053a79;