.wu-copyright {
    display: none !important;
}

.wu-day-title {
    display: none !important;
}

.wu-cond-pop {
    display: none !important;
}

.wu-cond-text {
    font-family: 'aleoregular', sans-serif;
    color: white;
}

.wu-simple-forecast-day {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}